keybinds clear-defaults=true {
    normal {
        // uncomment this and adjust key if using copy_on_select=false
        // bind "Alt c" { Copy; }
        bind "Ctrl a" { SwitchToMode "pane"; }
    }
    pane {
        bind "Ctrl q" { Quit; }

        // Panes
        // bind "n"          { NewPane; }
        bind "L"          { NewPane "Right"; }
        bind "J"          { NewPane "Down"; }
        bind "q"          { CloseFocus; }
        bind "b"          { BreakPane; }
        bind "h" "Left"   { MoveFocus "Left"; }
        bind "l" "Right"  { MoveFocus "Right"; }
        bind "j" "Down"   { MoveFocus "Down"; }
        bind "k" "Up"     { MoveFocus "Up"; }
        bind "z"          { ToggleFocusFullscreen; }
        bind "."          { TogglePaneFrames; }
        bind "p"          { TogglePaneEmbedOrFloating; }
        bind "w"          { ToggleFloatingPanes; }
        bind "m"          { SwitchToMode "move"; }
        bind "r"          { SwitchToMode "resize"; }
        bind ";"          { SwitchToMode "RenamePane"; PaneNameInput 0;}

        // Tabs
        bind "c"          { NewTab; SwitchToMode "normal"; }
        bind "x"          { CloseTab; SwitchToMode "normal"; }
        bind "s"          { ToggleActiveSyncTab; SwitchToMode "normal"; }
        bind ","          { SwitchToMode "RenameTab"; TabNameInput 0; }
        bind "["          { GoToPreviousTab; SwitchToMode "normal"; }
        bind "]"          { GoToNextTab; SwitchToMode "normal"; }
        bind "Ctrl a"     { ToggleTab; SwitchToMode "normal"; }
        bind "1"          { GoToTab 1; SwitchToMode "normal"; }
        bind "2"          { GoToTab 2; SwitchToMode "normal"; }
        bind "3"          { GoToTab 3; SwitchToMode "normal"; }
        bind "4"          { GoToTab 4; SwitchToMode "normal"; }
        bind "5"          { GoToTab 5; SwitchToMode "normal"; }
        bind "6"          { GoToTab 6; SwitchToMode "normal"; }
        bind "7"          { GoToTab 7; SwitchToMode "normal"; }
        bind "8"          { GoToTab 8; SwitchToMode "normal"; }
        bind "9"          { GoToTab 9; SwitchToMode "normal"; }

        // Search
        bind "e"          { EditScrollback; SwitchToMode "normal"; }
        bind "Ctrl u"     { HalfPageScrollUp; }
        bind "Ctrl d"     { HalfPageScrollDown; }
        bind "/"          { SwitchToMode "EnterSearch"; SearchInput 0; }

        // Sessions
        bind "d"          { Detach; }
        bind "o" {
            LaunchOrFocusPlugin "zellij:session-manager" {
                floating true
                move_to_focused_tab true
            };
            SwitchToMode "normal"
        }
    }
    resize {
        bind "h" "Left"   { Resize "Increase Left"; }
        bind "j" "Down"   { Resize "Increase Down"; }
        bind "k" "Up"     { Resize "Increase Up"; }
        bind "l" "Right"  { Resize "Increase Right"; }
        bind "H"          { Resize "Decrease Left"; }
        bind "J"          { Resize "Decrease Down"; }
        bind "K"          { Resize "Decrease Up"; }
        bind "L"          { Resize "Decrease Right"; }
        bind "+"          { Resize "Increase"; }
        bind "-"          { Resize "Decrease"; }
    }
    move {
        bind "n" "Tab"    { MovePane; }
        bind "p"          { MovePaneBackwards; }
        bind "h" "Left"   { MovePane "Left"; }
        bind "j" "Down"   { MovePane "Down"; }
        bind "k" "Up"     { MovePane "Up"; }
        bind "l" "Right"  { MovePane "Right"; }
    }
    search {
        bind "Ctrl c" { ScrollToBottom; SwitchToMode "Normal"; }
        bind "j" "Down" { ScrollDown; }
        bind "k" "Up" { ScrollUp; }
        bind "Ctrl d" { HalfPageScrollDown; }
        bind "Ctrl u" { HalfPageScrollUp; }
        bind "n" { Search "down"; }
        bind "N" { Search "up"; }
        bind "c" { SearchToggleOption "CaseSensitivity"; }
        bind "w" { SearchToggleOption "Wrap"; }
        bind "o" { SearchToggleOption "WholeWord"; }
    }
    entersearch {
        bind "Enter" { SwitchToMode "Search"; }
    }
    renamepane {
        // bind "Esc"       { UndoRenamePane; SwitchToMode "pane"; }
    }
    renametab {
        // bind "Esc"       { UndoRenameTab; SwitchToMode "pane"; }
    }
    shared {
        bind "Alt n"                { NewPane; }
        bind "Alt h"                { MoveFocusOrTab "Left"; }
        bind "Alt l"                { MoveFocusOrTab "Right"; }
        bind "Alt j"                { MoveFocus "Down"; }
        bind "Alt k"                { MoveFocus "Up"; }

        bind "Alt Right"            { NewPane "Right"; }
        bind "Alt Down"             { NewPane "Down"; }

        bind "Alt +"                { Resize "Increase"; }
        bind "Alt -"                { Resize "Decrease"; }
        bind "Alt q"                { CloseFocus; }
        bind "Alt x"                { CloseTab; }

        bind "Alt ["                { GoToPreviousTab; }
        bind "Alt ]"                { GoToNextTab; }

        bind "Alt m"                { ToggleFocusFullscreen; }
        bind "Alt w"                { ToggleFloatingPanes; }

        bind "Alt 1"                { GoToTab 1; }
        bind "Alt 2"                { GoToTab 2; }
        bind "Alt 3"                { GoToTab 3; }
        bind "Alt 4"                { GoToTab 4; }
        bind "Alt 5"                { GoToTab 5; }
        bind "Alt 6"                { GoToTab 6; }
        bind "Alt 7"                { GoToTab 7; }
        bind "Alt 8"                { GoToTab 8; }
        bind "Alt 9"                { GoToTab 9; }
    }
    shared_except "normal" "entersearch" {
        bind "Ctrl c" "Enter"       { ScrollToBottom; SwitchToMode "normal"; }
    }
    shared_except "normal" "renamepane" "renametab" "entersearch" {
        bind "i"                    { ScrollToBottom; SwitchToMode "normal"; }
    }
    shared_except "pane" "normal" {
        bind "Esc"                  { ScrollToBottom; SwitchToMode "pane"; }
    }
    shared_among "resize" "move" {
        bind "m"                    { SwitchToMode "move"; }
        bind "r"                    { SwitchToMode "resize"; }
    }
}

plugins {
    tab-bar { path "tab-bar"; }
    status-bar { path "status-bar"; }
    strider { path "strider"; }
    compact-bar { path "compact-bar"; }
    session-manager { path "session-manager"; }
}
